/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.disable:hover {
    cursor: not-allowed;
}
.disable:active{
    pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}