$weekdays-background: #f5f1f1;

.grid-container {
  margin: 20px;

  ::ng-deep {
    .mat-card-header-text {
      margin: 0;
      width: 100%;
    }
    .mat-card-header {
      .mat-card-title {
        display: flex;
        align-items: center;
        font-size: 16px;
        justify-content: space-between;
      }
    }
    .mat-card {
      padding: 10px;
    }
  }

  .filter-section {
    display: flex;

    .left-space {
      flex: 0 0 10%;
    }
    .calendar-week {
      display: flex;
      align-items: center;
      flex: 0 0 60%;
      justify-content: center;
      margin-bottom: 1.34375em
    }
  }

  .row-wrapper {
    display: flex;
    align-items: center;
  }

  .dashboard-card-content {
    text-align: center;
  }

  .weekday-label {
    height: 40px;
    flex: 0 0 10%;
  }

  .weekday-value {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    height: 40px;
    flex: 0 0 17%;
    background: $weekdays-background;
  }

  .weekday-label-node {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 195px;
    flex: 0 0 10%;
  }

  .weekday-value-node {
    height: 195px;
    flex: 0 0 17%;
    border: 1px solid gray;

    .weekday-notes {
      position: relative;
      padding: 5px;

      .note-card {
        height: 152px;
        position: absolute;
        width: 85%;

        .note-id {
          border: 1px solid gray;
          border-radius: 50%;
          padding: 5px;
          margin-right: 10px;
          display: flex;
          flex: 0 0 20px;
          justify-content: center;
          background-color: lightcyan;
        }

        .note-summary, .note-title {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-height: 21px;
          max-height: 48px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .note-card-content {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
